<div class="flex">
    <div class="w-[500px]"></div>
    <table class="flex-grow">
        <tbody>
            <tr>
                <td> Price</td>
                <td> $ 2,190</td>
            </tr>
            <tr>
                <td>Colors</td>
                <td> Black, Yellow, White</td>
            </tr>
            <tr>
                <td>About</td>
                <td>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Rutrum consequat risus est sed nulla sed. Ultrices imperdiet
                    fringilla elit eu vitae nunc elementum sagittis.
                </td>
            </tr>
        </tbody>
    </table>
</div>

<style>
    tr {
        border-top: 1px solid rgba(255, 255, 255, 0.2);
    }

    td {
        padding: 2rem 0;
        width: 50%;
    }
</style>
