<section class="mt-16 container mx-auto flex justify-between flex-wrap">
    <div class="pt-16">
        <h2 class="text-[68px] font-medium leading-tight">Electric bike <br> remagined</h2>
        <p class="mt-8">Find your pace at the edge of the urban <br> frontier for a new path forward.</p>

        <div class="flex gap-4 items-center mt-16">
            <a class="block bg-black text-white text-lg py-3 px-12 rounded-full" href="#">Order now</a>
            <div>
                <div class="text-sm">From $1,999 <span class="line-through">$2,190</span></div>
                <div class="text-left text-xs text-gray-400">Discounts available</div>
            </div>
        </div>
    </div>
    <div>
        <img src="/assets/cta-collection.png" alt="cta collection">
    </div>
</section>