<section
    class="mt-16 container mx-auto flex justify-between flex-col items-center lg:flex-row lg:gap-8"
>
    <div class="pt-16 w-[100%] text-center lg:text-left lg:w-auto">
        <h2 class="text-[48px] font-medium leading-tight xl:text-[68px]">
            Electric bike <br /> remagined
        </h2>
        <p class="mt-8">
            Find your pace at the edge of the urban <br /> frontier for a new path
            forward.
        </p>

        <div
            class="flex gap-4 items-center justify-center mt-16 mb-8 lg:justify-start lg:mb-0"
        >
            <a
                class="block bg-black text-white text-lg py-3 px-12 rounded-full"
                href="#">Order now</a
            >
            <div>
                <div class="text-sm">
                    From $1,999 <span class="line-through">$2,190</span>
                </div>
                <div class="text-left text-xs text-gray-400">
                    Discounts available
                </div>
            </div>
        </div>
    </div>
    <div>
        <img
            src="assets/cta-collection.png"
            alt="cta collection"
            loading="lazy"
        />
    </div>
</section>
