---
import Feature from "./Feature.astro";
---

<section class="container mx-auto mt-16">
    <h2 class="text-[52px]">Key features</h2>
    <div class="flex gap-4 mt-8">
        <Feature image="https://via.placeholder.com/390x415.png" title="Auto Unlock" description={"The app senses when\
            you're nearby to unlock automatically."} />
        <Feature image="https://via.placeholder.com/390x415.png" title="Auto Unlock" description={"The app senses when\
            you're nearby to unlock automatically."} />
        <Feature image="https://via.placeholder.com/390x415.png" title="Auto Unlock" description={"The app senses when\
            you're nearby to unlock automatically."} />
        <Feature image="https://via.placeholder.com/390x415.png" title="Auto Unlock" description={"The app senses when\
            you're nearby to unlock automatically."} />

    </div>
</section>